.headerIcon {
    position: absolute;
    right: 5%;
    top: 15px;
}

.selected {
    color: #4a5180;
    font-size: xx-large;
    margin-block-start: 0em;
}

.marginTop {
    margin-top: 25px;
}

.favorite {
    color: #e3ae10;
}
