<form class="flexResponsive">
    <!-- Input -->
    <div class="flex">
        <mat-form-field>
            <mat-icon *ngIf="inputIconPrefix" style="vertical-align: sub">{{ inputIconPrefix }}</mat-icon>
            <p *ngIf="inputPrefix" class="inline">{{ inputPrefix }}</p>
            <input style="text-align: right;" matInput [formControl]="value" type="number"
                (click)="$event.target.select()">
        </mat-form-field>
        <mat-icon *ngIf="inputIconSufix">{{ inputIconSufix }}</mat-icon>
        <p *ngIf="inputSufix">{{ inputSufix }}</p>
    </div>

    <mat-icon [@pulse]="enable && convertIconClickable ? 'pulse' : '*'" class="rotateOnResize"
        [ngClass]="{'hoverBolder': convertIconClickable}" (click)="convertIconClicked()">
        {{ convertIcon }}</mat-icon>

    <!-- Result -->
    <div *ngIf="!multipleResult" class="resultBox flex">
        <mat-icon *ngIf="resultIconPrefix">{{ resultIconPrefix }}
        </mat-icon>
        <p class="result rigthText">{{ convertedValue }}</p>
        <mat-icon *ngIf="resultIconSufix">{{ resultIconSufix }}</mat-icon>
        <p *ngIf="resultSufix">{{ resultSufix }}</p>
    </div>

    <div *ngIf="multipleResult">
        <div *ngFor="let f of factor; let index = index" class="resultBox flex">
            <mat-icon *ngIf="resultIconPrefix">
                {{ isArray(resultIconPrefix) ? resultIconPrefix[index] : resultIconPrefix }}
            </mat-icon>
            <p class="result rigthText">{{ convertedValue ? convertedValue[index] : '' }}</p>
            <mat-icon *ngIf="resultIconSufix && resultIconSufix[index]">
                {{ isArray(resultIconSufix) ? resultIconSufix[index] : resultIconSufix }}
            </mat-icon>
            <p *ngIf="resultSufix && resultSufix[index]">
                {{ isArray(resultSufix) ? resultSufix[index] : resultSufix }}
            </p>
        </div>
    </div>
</form>