.flex, .flexResponsive{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.resultBox {
    background-color: #f7f8ff;
    border-radius: 7px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;

    .result {
        display: inline-block;
        min-width: 100px;
    }
}

@media all and (max-width:520px) {
    .resultBox .result {
        display: inline-block;
        min-width: 50px;
    }
}

@media all and (max-width:360px) {
    .flexResponsive {
        flex-direction: column;

        .rotateOnResize {
            transform: rotate(90deg);
            margin-bottom: 20px;
        }
    }
}