<div [ngStyle]="{'backgroundColor': backgroundColor, 'color': color, 'border-color': color}" class="container">
  <mat-tab-group dynamicHeight #tabs>
    <mat-tab *ngIf="!hideLength" [disabled]="disableAllSectionBut && disableAllSectionBut !== unitTypes.Length">
      <ng-template mat-tab-label>
        <mat-icon [ngStyle]="{'color': color}">straighten</mat-icon>
      </ng-template>

      <!-- Content -->
      <div *ngFor="let unit of lengthUnit; let index = index" class="unit centerText" [matTooltip]="unit.label"
        matTooltipClass="tooltip"
        [ngStyle]="{'backgroundColor': hoverIndex !== index ? backgroundColor : color, 'color': hoverIndex !== index ? color : backgroundColor, 'border-color': color }"
        (click)="unitChoosed(unit)" (mouseover)="hoverIndex=index" (mouseleave)="hoverIndex=undefined">
        {{ unit.shortLabel }}
      </div>
    </mat-tab>

    <mat-tab *ngIf="!hideWeight" [disabled]="disableAllSectionBut && disableAllSectionBut !== unitTypes.Weight">
      <ng-template mat-tab-label>
        <mat-icon [ngStyle]="{'color': color}">fitness_center</mat-icon>
      </ng-template>

      <!-- Content -->
      <div *ngFor="let unit of weightUnit; let index = index" class="unit centerText" [matTooltip]="unit.label"
        matTooltipClass="tooltip"
        [ngStyle]="{'backgroundColor': hoverIndex !== index ? backgroundColor : color, 'color': hoverIndex !== index ? color : backgroundColor, 'border-color': color }"
        (click)="unitChoosed(unit)" (mouseover)="hoverIndex=index" (mouseleave)="hoverIndex=undefined">
        {{ unit.shortLabel }}
      </div>
    </mat-tab>

    <mat-tab *ngIf="!hideMoney" [disabled]="disableAllSectionBut && disableAllSectionBut !== unitTypes.Money">
      <ng-template mat-tab-label>
        <mat-icon [ngStyle]="{'color': color}">attach_money</mat-icon>
      </ng-template>

      <!-- Content -->
      <div *ngFor="let unit of moneyUnit; let index = index" class="unit centerText" [matTooltip]="unit.label"
        matTooltipClass="tooltip"
        [ngStyle]="{'backgroundColor': hoverIndex !== index ? backgroundColor : color, 'color': hoverIndex !== index ? color : backgroundColor, 'border-color': color }"
        (click)="unitChoosed(unit)" (mouseover)="hoverIndex=index" (mouseleave)="hoverIndex=undefined">
        {{ unit.shortLabel }}
      </div>
    </mat-tab>

    <mat-tab *ngIf="!hideArea" [disabled]="disableAllSectionBut && disableAllSectionBut !== unitTypes.Area">
      <ng-template mat-tab-label>
        <mat-icon [ngStyle]="{'color': color}">straighten</mat-icon>²
      </ng-template>

      <!-- Content -->
      <div *ngFor="let unit of areaUnit; let index = index" class="unit centerText" [matTooltip]="unit.label"
        matTooltipClass="tooltip"
        [ngStyle]="{'backgroundColor': hoverIndex !== index ? backgroundColor : color, 'color': hoverIndex !== index ? color : backgroundColor, 'border-color': color }"
        (click)="unitChoosed(unit)" (mouseover)="hoverIndex=index" (mouseleave)="hoverIndex=undefined">
        {{ unit.shortLabel }}
      </div>
    </mat-tab>

    <mat-tab *ngIf="!hideVolume" [disabled]="disableAllSectionBut && disableAllSectionBut !== unitTypes.Volume">
      <ng-template mat-tab-label>
        <mat-icon [ngStyle]="{'color': color}">straighten</mat-icon>³
      </ng-template>

      <!-- Content -->
      <div *ngFor="let unit of volumeUnit; let index = index" class="unit centerText" [matTooltip]="unit.label"
        matTooltipClass="tooltip"
        [ngStyle]="{'backgroundColor': hoverIndex !== index ? backgroundColor : color, 'color': hoverIndex !== index ? color : backgroundColor, 'border-color': color }"
        (click)="unitChoosed(unit)" (mouseover)="hoverIndex=index" (mouseleave)="hoverIndex=undefined">
        {{ unit.shortLabel }}
      </div>
    </mat-tab>

    <mat-tab *ngIf="!hideTemperature" [disabled]="disableAllSectionBut && disableAllSectionBut !== unitTypes.Temperature">
      <ng-template mat-tab-label>
        <div [ngStyle]="{'color': color}" style="font-size: 25px;">T</div>
      </ng-template>

      <!-- Content -->
      <div *ngFor="let unit of temperatureUnit; let index = index" class="unit centerText" [matTooltip]="unit.label"
        matTooltipClass="tooltip"
        [ngStyle]="{'backgroundColor': hoverIndex !== index ? backgroundColor : color, 'color': hoverIndex !== index ? color : backgroundColor, 'border-color': color }"
        (click)="unitChoosed(unit)" (mouseover)="hoverIndex=index" (mouseleave)="hoverIndex=undefined">
        {{ unit.shortLabel }}
      </div>
    </mat-tab>
  </mat-tab-group>
</div>